.container {
  max-width: 1158px;
  padding: 0 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.logo {
  margin-right: 76px;
}

.contacts {
  margin-left: auto;
}

.contacts-list {
  flex-direction: row;
  gap: 40px;
}

.contacts-item {
  font-size: 16px;
  line-height: 1.5;
}

.banner-section {
  max-width: 1440px;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleoffice.jpg);
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .banner-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/peopleoffice-x2.jpg);
  }
}

.banner-title {
  margin-bottom: 48px;
}

.features-list {
  flex-direction: row;
  gap: 24px;
}

.features-item {
  width: 264px;
}

.features-name {
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
}

.features-description {
  font-weight: 400;
  text-align: left;
}

.team-list {
  gap: 24px;
  flex-wrap: nowrap;
}

.portfolio-list {
  gap: 48px 24px;
}

.portfolio-item {
  width: 360px;
}
/*! Footer */

.footer .container {
  flex-wrap: nowrap;
  align-items: baseline;
  gap: 0;
  max-width: 1158px;
}

.logo-info {
  margin-right: 120px;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.subscribe-container {
  margin-left: 80px;
}
